@font-face {
    font-family: 'Supreme Spike';
    src: url('SupremeSpikeRegular.woff2') format('woff2'),
        url('SupremeSpikeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

